<footer class="footer">
    <div>
        <div>
            <nav class="navbar">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        <img src="assets/img/banner.png">
                    </a>
                </div>
            </nav>
        </div>
        <div>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="https://www.linkedin.com/in/franner-j-ventura-c/"> Realizado por Franner Ventura 
                            
                        </a>
                    </li>
                </ul>

                <div class="content has-text-centered nav-item active">
                    <p>

                    </p>
                </div>
            </nav>
        </div>
    </div>
</footer>