<div class="card mb-3">
    <!-- <img class="card-img-top header" src="" alt="Card image cap"> -->
    <div class="card-body">
        
        <div class="containe">
            <div class="card">
                <h5 class="card-header">Bienvenido {{currentUser.name}}</h5>
                <div class="card-body container" style="max-width: 648px;">
                    <h5 class="card-header text-center">Listado de movimientos</h5>
<div class="bd-example">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Movimiento</th>
        <th scope="col">Fecha</th>
        <th scope="col">Desde</th>
        <th scope="col">Monto</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let history of currentHistory">
        <td>{{history.action}}</td>
        <td>{{history.date}}</td>
        <td>{{history.to}}</td>
        <td>{{history.balance}}</td>
      </tr>
      <!-- <tr>
        <th scope="row">Default</th>
        <td>Cell</td>
        <td>Cell</td>
      </tr>

      
      <tr class="table-primary">
        <th scope="row">Primary</th>
        <td>Cell</td>
        <td>Cell</td>
      </tr>
      <tr class="table-secondary">
        <th scope="row">Secondary</th>
        <td>Cell</td>
        <td>Cell</td>
      </tr>
      <tr class="table-success">
        <th scope="row">Success</th>
        <td>Cell</td>
        <td>Cell</td>
      </tr>
      <tr class="table-danger">
        <th scope="row">Danger</th>
        <td>Cell</td>
        <td>Cell</td>
      </tr>
      <tr class="table-warning">
        <th scope="row">Warning</th>
        <td>Cell</td>
        <td>Cell</td>
      </tr>
      <tr class="table-info">
        <th scope="row">Info</th>
        <td>Cell</td>
        <td>Cell</td>
      </tr>
      <tr class="table-light">
        <th scope="row">Light</th>
        <td>Cell</td>
        <td>Cell</td>
      </tr>
      <tr class="table-dark">
        <th scope="row">Dark</th>
        <td>Cell</td>
        <td>Cell</td>
      </tr> -->
    </tbody>
  </table>
</div>

                    <br>
                    <div>
                        <button class="btn btn-link" [routerLink]="['/home']" routerLinkActive="router-link-active">Volver</button>
                        <a href=""></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>