<div class="card mb-3">
    <!-- <img class="card-img-top header" src="" alt="Card image cap"> -->
    <div class="card-body">
        
        <div class="containe">
            <div class="card">
                <h5 class="card-header">Bienvenido {{currentUser.name}}</h5>
                <div class="card-body container" style="max-width: 550px;">
                <h5 class="card-header text-center">
                    <div>Realizar Retiro</div>
                    <div>Disponible: {{ currentBalance.balance | currency }}</div>
                </h5>
                    <form [formGroup]="formWithdraw">
                        <div class="mb-3">
                            <label for="balance" class="form-label">Monto a retirar</label>
                            <input type="number" (keyUp.enter)="withdrawBalance()" class="form-control" id="balance" formControlName="balance" placeholder="Monto a retirar">
                        </div>
                        <button type="submit" [disabled]="!formWithdraw.valid" (click)="withdrawBalance()" class="btn btn-danger">Retirar</button>
                    </form>
                    <br>
                    <div>
                        <button class="btn btn-link" [routerLink]="['/home']" routerLinkActive="router-link-active">Volver</button>
                        <a href=""></a>
                    </div>
                </div>
            </div>
        </div>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div>
