<div class="card mb-3">
  <img class="card-img-top header" src="" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Bienvenido al mini Banco Desafio Ripley</h5>
    <div class="containe">

        <div class="card">
        <h5 class="card-header">Franner Jose Ventura Contreras</h5>
        <div class="card-body">
            <h5 class="card-title">Monto disponible</h5>
            <p class="card-text">{{ balance | currency }}</p>
            <a href="#" class="btn btn-primary">Depositar</a>
            <a href="#" class="btn btn-primary">Retirar</a>
            <a href="#" class="btn btn-primary">Transferir</a>
        </div>
        </div>

    </div>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>